@tailwind base;
@tailwind components;
@tailwind utilities;

/*  NOTES: 
*   For Card colors, go to the card component directly
*/
@layer base {
  :root {
    --background: 217, 84%, 26%; /* #0B367B HSL */
    --foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 - HSL */
 
    --popover: 217, 84%, 26%; /* #0B367B HSL */
    --popover-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 - HSL */
 
    --primary: 217, 57%, 41%; /* #242529 */
    --primary-foreground: 0, 0%, 90%; /* #FDFDFE - Text */
 
    --secondary: 240, 7%, 23%;
    --secondary-foreground: 0, 0%, 90%; /* #FDFDFE - Text */
 
    --muted: 244, 47%, 20%; /* #1E1B4B HSL */
    --muted-foreground: rgba(236, 243, 246, 0.75); /* Gray 50 - 75% opacity */
 
    --accent: rgba(30, 27, 75, 0.5); /* #312e81 - Indigo 900 */
    --accent-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 */
    --accent-faded: rgba(236, 243, 246, 0.75); /* Gray 50 - 75% opacity */
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240, 33%, 99%; /* #FDFDFE - Text */

    --border: 0, 0%, 91%; /* #E8E8E8 HSL */
    --input: 214.3 31.8% 91.4%;
    --ring: 228, 6%, 15%;
 
    --radius: 0.5rem;
}
 
.dark {
  --background: 224, 71%, 4%; /* #030712 - Gray 950 */
  /* --foreground: 210, 20%, 98%; */

  --popover: 224, 71%, 4%; /* #030712 - Gray 950 */
  --popover-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 */

  --primary: 242, 47%, 34%; /* #312e81 - Indigo 900 */
  --primary-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 */

  --secondary: 240, 7%, 23%;
  --secondary-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 */

  --muted: 240, 7%, 23%;
  --muted-foreground: rgba(236, 243, 246, 0.75); /* Gray 50 - 75% opacity */

  /* Used for hover effects on buttons, dropdown items, etc... */
  --accent: rgba(30, 27, 75, 0.5); /* #312e81 - Indigo 900 */
  --accent-foreground: 210, 20%, 98%; /* #f9fafb - Gray 50 */
  --accent-faded: rgba(236, 243, 246, 0.75); /* Gray 50 - 75% opacity */

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 240, 33%, 99%; /* #FDFDFE - Text */

  --border: 242, 47%, 34%; /* #312e81 - Indigo 900 */
  --input: 217, 19%, 27%; /* #374151 - Gray 700 */
  /* --ring: ; */
}
}
 
@layer base {
  * {
    @apply border-border;
    scrollbar-width: thin;
    scrollbar-color: #FF9E73 #37373fa4;
  }
  body {
    @apply bg-background text-foreground;
  }
}